.header {
    align-self: start;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}